.signup{

    width: 100%;
    display: flex;
    justify-content: center;

    .signleft{
        width: 40%;
        background: #28328C;
        text-align: center;
        padding: 10px 40px 0px 40px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100vh;
        
    }

    .signleft2{
        height: 122vh;
    }

    .svg-box{
        bottom: 78%;
        position: absolute;
        justify-content: center;
        display: flex;
        width: 32%;
        cursor: pointer;
    }

    .img-box{
        display: flex;
        align-items: flex-end; 
        position: relative;
    }

    .img-box2{
        display: flex;
        align-items: flex-end; 
        position: relative;
    }

    .img1{
        object-fit: contain;
        position: relative;
        width: 60%;
        padding: 0;
    }

    .img2{
        object-fit: contain;
        width: 65%;
        position: absolute;
        top: 45%; 
        left: 74%; 
        transform: translate(-50%, -50%);
        z-index: 1; 
    }

    .signright{
        width: 60%;
        justify-content: center;
        text-align: left;
        padding: 20px 100px 104px 100px;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .signright2{
        height: 120vh;
    }

    h1{
        font-size: 38px;
    }

 
    .signright h1 {
        margin: 0;
        font-size: 30px;
        color: #292731;
        line-height: 45px;
        font-weight: 700;
        margin-bottom: 1rem;
        font-family: 'Montserrat';
    }
    
    .signright p {
        margin: 0 0 20px;
        color: #666;
    }

    .signright h2{
        font-size: 20px;
        color: #326295;
        line-height: 30px;
        font-weight: 500;
        margin-top: 1rem;
        font-family: 'Fira Sans';
    }

    .reg-head{
        font-family: 'Poppins', sans-serif;
font-size: 38.67px;
font-weight: 500;
line-height: 28.01px;
letter-spacing: -0.375px;
text-align: left;
color: #0866C6 !important;
    }
    
    .login-input {
        height: 50px;
        background: #F8F7F7;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        border-radius: 14px;
        border: 1px solid #DCD7D7;
        margin-top: 0.2rem;
        padding-left: 20px;
      }

      .login-input2 {

        width: 80% !important;
 
      }
     
      .login-input::placeholder {
        text-align: left;
        color: #9A9A9A;
        font-weight: 500;
      
    }

    .p-multiselect-label-container{
        margin: auto;
    }

    .p-multiselect {
        text-align: left;
        margin-top: 0.5rem;
    }
    
    .p-dropdown-panel .p-dropdown-items{
        padding: 0.5rem !important;
        margin: 0.4rem !important;
    }

    ul{
        margin-left: 0 !important;
    }

    .p-dropdown-label{
        margin: auto !important;
    }

 

    .p-inputgroup-addon {
        cursor: pointer;
        padding: 10px;
        background: none;
        border: none;
        color: #1868DB;
        font-weight: 500;
    }

    .p-inputtext:enabled:focus{
        box-shadow: none;
        border: none;
      }
      
      .p-dropdown-panel:enabled:focus{
        box-shadow: none;
        border: none;
      }
      
      .p-dropdown:not(.p-disabled).p-focus{
        border: none;
        box-shadow: none;
      }
      
      .p-multiselect:not(.p-disabled).p-focus{
        border: none;
        box-shadow: none;
      }
      
      :focus-visible {
      outline: none;
      }

    .otp-box{

        background: #F8F7F7;
        display: flex;
        border-radius: 14px;
        border: 1px solid #DCD7D7;
        width: 100%;
        .login-input { 
            border: none;
            width: 90%;
        }
    }

    .addon{
        .login-input { 
            border: none;
            width: 70%;
            padding-left: 10px;
        }

        .p-inputgroup-addon {
            padding: 4px;
        }
    }

    .otp-box2{
    width: 80% !important;
    }
    
    .p-inputgroup-addon svg {
        font-size: 18px;
    }
      

    .btn-box{
        text-align: center;

        p{
font-size: 20px;
font-weight: 600;
line-height: 30px;  
color: #292731;

        }

        span{
            color: #B51B1B;
            cursor: pointer;
            margin-left: 1rem ;
        }
    }

    .btn{
        border-radius: 14px;
        background: #1868DB;
        font-weight: 500;
        font-size: 20px;
        border: none;
        padding: 16px 100px 16px 100px ;
        margin: 10px;
        color: white;
        cursor: pointer;
        margin-top: 3rem;
        margin-left: 8rem;
    }

    .btn2{
        border-radius: 14px;
        border: 1px solid #1868DB;
        font-weight: 500;
        font-size: 20px;
        padding: 4px 80px 4px 80px ;
        margin: 10px;
        background: none;
        color: #1868DB;
        cursor: pointer;
        height: 60px;
    }

    .btn3{
        border-radius: 14px;
        border: 1px solid #1868DB;
        font-weight: 500;
        font-size: 20px;
        padding: 16px 90px 16px 90px ;
        height: 60px;
        margin: 10px;
        background: none;
        color: #1868DB;
        cursor: pointer;
        margin-top: 3rem;
        margin-left: 0;
    }

    .btn:hover{
        background: #1868DB;
        color: white ;
    }

    .input-box{
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 30px;
    }

    .input-text-box{
        width: 50%;
    }

    .terms{
        display: flex;
        margin-top: 2rem;


        .terms-tick{
            margin-right: 1rem;
        }
    }

    .p-inputnumber{
        border: none;
    }

    .p-inputnumber::placeholder{
        text-align: left;
        color: #9A9A9A;
        font-weight: 500;
    }

    .p-error{
        height: 20px;
    }

    .reg{
        justify-content: flex-start;
        display: flex;
        margin-left: 5rem !important;
        margin-top: 1rem !important;
    }
}


@media (max-width: 768px) { 

    .signup{
        flex-direction: column;
        height: auto !important;
    }

    .signleft{
        width: 100% !important;
    }

    .img1{ 
        width: 40% !important;
        margin-left: 15vh;
    }

    .img2{
        width: 50% !important;
        left: 66% !important;
    }

    .signright{
        width: 80% !important;
        padding: 20px !important;
        margin: auto;
        box-shadow: 0px 25px 50px -12px #0D102D1A;
        margin-top: -10vh !important;
        z-index: 10;
        background: white;
        border-radius: 9px;
    }

    .login-input{
        width: 100% !important;
    }
}