.aboutmain {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 44px;
    font-weight: 800;
    line-height: 55px;
    color: #0866c6;
  }

  .aboutbox {
    display: flex;
    width: 100%;
  }

  .aboutleft {
    width: 50%;
    text-align: left;
    padding: 20px 80px 20px 80px;
    margin: auto;

    h1 {
      font-family: "Montserrat";
      font-size: 44px;
      font-weight: 800;
      line-height: 55px;
      color: #0866c6;
      margin-bottom: 25px;
    }

    h3 {
      font-family: "Fira Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      color: rgba(50, 98, 149, 1);
    }

    p {
      font-family: "Fira Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      color: #798099;
      margin-bottom: 23px;
    }
  }

  .aboutright {
    width: 50%;
    display: flex;
    // justify-content: center;
    padding: 20px;
    padding-bottom: 0;
  }

  .regbtn {
    border: none;
    height: 48px;
    padding: 10px 24px 16px 24px;
    border-radius: 11px;
    opacity: 0px;
    background: #033b61;
    color: white;
    margin-right: 2rem;
  }

  .aboutbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background: #033b61;
    padding: 80px 100px 80px 100px;

    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 44px;
      font-weight: 800;
      line-height: 55px;
      text-align: center;
      color: #3abbf2;
    }

    p {
      font-family: "Fira Sans";
      font-size: 18px !important;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      color: #ffffff !important;
    }
  }

  .data-div {
    margin-right: 10px;
    padding: 5.8px;
  }

  .vectorbox {
    padding: 0px 60px 0px 60px;
    display: flex;
  }

  .vectorbox-left {
    width: 60%;
    padding-top: 0 !important;

    img {
      width: 70%;
    }

    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 44px;
      font-weight: 800;
      line-height: 55px;
      color: #0866c6;
      position: relative;
      z-index: 1;
    }
  }

  .vectorbox-right {
    margin: auto;
    width: 40%;
    text-align: left;
    padding: 20px;

    p {
      font-family: "Fira Sans";
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      text-align: left;
      color: rgba(50, 98, 149, 1);

      span {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        color: #0866c6;
      }
    }
  }

  .aboutreg {
    border: none;
    background: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #0866c6;
    margin-top: 2rem;
  }

  .peoplebox {
    display: flex;
    width: 100%;
    background: #f8f8ff;
  }

  .peoplebox-right {
    width: 60%;
    padding: 40px;
    margin: auto;
    display: flex;
    justify-content: center;

    img {
      width: 80%;
    }
  }

  .peoplebox-left {
    width: 50%;
    padding: 20px 60px 20px 60px;

    p {
      font-family: "Fira Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: rgba(121, 128, 153, 1);
      margin-top: 1.5rem;
    }
  }

  .peoplebtn {
    height: 46.08px;
    padding: 10px 24px 14.54px 24px;
    text-align: center !important;
    background: #033b61;
    color: white;
    font-family: "Fira Sans";
    font-size: 18.1px;
    border-radius: 11px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .us-box-main {
    padding: 40px 40px 40px 80px;
    width: 90%;
    background: #0866c6;
    position: relative;

    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 44px !important;
      font-weight: 800 !important;
      line-height: 55px;
      color: #ffffff !important;
      margin-bottom: 2rem !important;
    }
  }

  .us-box {
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    background: #0866c6;
    color: white;

    h1 {
    font-family: "Montserrat", sans-serif;
      font-size: 28px;
      font-weight: 600;
      line-height: 34px;
      letter-spacing: -0.56px;
      color: white;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }

    p{
      font-family: "Fira Sans";
        font-size: 16px !important;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        color: rgba(255, 255, 255, 1) !important;
    }
  }

  .praise-small-box {
    margin: 1.5rem;
    margin-left: 0;
  }

  .us-box-out {
    width: 100%;
    display: flex;
    padding: 80px 0px 80px 0px;
  }

  .circle {
    width: 10%;
    margin-left: -11vh;
    right: 0;
    border-radius: 70%;
    z-index: -1;
    background: #0866c6;
  }

  .leader-box {
    width: 70%;
    display: flex;
    margin: auto;
    padding-left: 0;
  }

  .leader-box-main {
    // max-height: 150vh;
    // height: 115vh;
    padding: 4rem;
    background: #f8f8ff;
    overflow: hidden;
  }

  .leader-box-small {
    width: 30%;
    margin: 2rem;
    justify-content: center;
    background: #ffffff;
    height: fit-content;

    h1 {
      padding: 12px 24px 0px 24px;
    }

    .founder{
      padding-left: 24px;
      font-family: "Fira Sans";
        font-size: 18.1px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: rgba(50, 98, 149, 1);
    }

    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 18.1px;
      font-weight: 700;
      line-height: 20px;
      padding-left: 24px;
    }

    p {
      font-family: "Fira Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    img {
      width: 100%;
    }
  }

  .text-box {
    border-top: 1px solid #0866c6;
    padding: 1rem;
    display: flex;
    padding-left: 24px;
    margin-top: 1.5rem;
    text-align: justify;
    word-spacing: -2px;
    max-height: 6re;
    overflow: hidden;
    transition: max-height 0.3s ease;
    cursor: pointer;

    svg {
      margin-left: 0.5rem;
    }
  }

  .join-box-main {
    width: 100%;
    margin: auto;
    justify-content: end;
    display: flex;
    padding: 100px 0px 100px 0px;

    .circle {
      margin-right: -11vh !important;
    }
  }

  .join-box {
    display: flex;
    background: #0866c6;
    width: 80%;

    h2 {
      font-family: "Montserrat", sans-serif;
        font-size: 37.02px !important;
        font-weight: 600 !important;
        line-height: 46px;
        color: #ffffff !important;
        margin: 0;
    }

    p {
      font-family: "Fira Sans";
        font-size: 18px !important;
        font-weight: 300;
        line-height: 32px;
        color: #ffffff !important;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
  }

  .join-box-left {
    justify-content: center;
    margin: auto;
    padding: 30px;
  }

  .join-box-right {
    width: 50%;
  }

  .signup-btn {
    background: #033b61;
    height: 54px;
    padding: 15px 19.8px 15px 20px;
    border-radius: 11px;
    color: #ffffff;
    border: none;
    font-family: "Fira Sans";
      font-size: 16.25px;
      font-weight: 400;
      line-height: 19.5px;
      text-align: left;

    span {
      margin-left: 5rem;
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .aboutmain {
    .aboutbox {
      // flex-direction: column;
    }

    .aboutleft,
    .aboutright {
      // width: 100%;
      padding: 20px 40px;
    }

    .aboutleft {
      padding-right: 0 !important;
    }

    .aboutleft p {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }

    .aboutright img {
      object-fit: cover;
      width: 384px;
    }

    .aboutbar {
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      padding: 60px 0px;
    }

    .vectorbox {
      flex-direction: column;
      padding: 0px 30px;
    }

    .vectorbox-left {
      height: 100px;
    }

    .vectorbox-right {
      width: 100%;
      padding: 20px 0;
      text-align: center;
    }

    // .vectorbox-left img {
    //   width: 50%;
    // }

    .aboutreg {
      display: flex;
      margin-top: 1rem;
    }

    .peoplebox {
      // flex-direction: column;
      padding: 20px;
    }

    .peoplebox-left,
    .peoplebox-right {
      width: 100%;
      padding: 20px 30px;
      text-align: center;
    }

    .peoplebox-left {
      padding-right: 0 !important;
    }

    .peoplebox-left h1 {
      font-size: 31px;
      line-height: 32px;
      text-align: left;
    }

    .peoplebox-left p {
      text-align: left;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.63px;
    }

    .peoplebtn {
      padding: 13px 50px !important;
      margin-bottom: 0;
    }

    .peoplebox-right img {
      width: 312px;
      height: 286px;
      object-fit: contain;
    }

    .us-box-out {
      padding-top: 49px;
    }
    
        .us-box-main h2{
          font-size: 32px;
        }

    .leader-box {
      // flex-direction: column;
      width: 100%;
      display: flex;
      gap: 8px;
      // padding: 20px;
    }

    .leader-box-small {
      width: 100%;
      margin: 1rem 0;
    }

    .join-box {
     
    }

    .join-box-left{
      width: 100%;
      padding: 20px;
    }

    .join-box-right img{
      width: 306px;
      height: 212px;
      object-fit: contain;
    }

    .join-box-left h2{
                  font-family: "Montserrat", sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
    }

    .join-box p{
      font-family: "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
    }

    .circle {
      width: 15%;
      margin-left: -10vh;
    }

    .text-box {
      padding: 1rem;
      margin-top: 1rem;
    }

    .peoplebtn,
    .signup-btn {
      // width: 100%;
      text-align: center;
      padding: 15px;
      margin-top: 1rem;
    }

    .regbtn {
      margin-top: 0px;
      width: 100%;
    }

    .us-box-main {
      padding: 40px;
      padding-right: 0;
    }

    .praise-small-box {
      h1 {
          font-size: 18px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: -0.5600000023841858px;
          text-align: left;
      }
    }

    .leader-box-main h1{
            font-family: "Montserrat", sans-serif;
        font-size: 32px;
        font-weight: 800;
        line-height: 55px;
        text-align: left;
    }
    
        .leader-box-main{
          padding: 1rem;
        }

    .praise-small-box p{
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
    }
    
        .praise-small-box{
          margin: 0;
        }

                .us-box{
                  gap: 15px;
                }

    .leader-box-main {
      height: auto;
    }

    .leader-box-small span{
            font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }

    .leader-box-small img {
      height: 230px;
              object-fit: cover;
    }
  }
}

@media only screen and (max-width: 468px) {
  .aboutmain {
    .aboutbox {
      flex-direction: column;
      padding: 10px 20px;
    }

    .aboutleft,
    .aboutright {
      width: 100%;
      padding: 10px 20px;
      text-align: center;
    }

    .aboutbar {
      padding: 40px 20px;
    }

    .vectorbox {
      flex-direction: column;
      padding: 0px 20px;
    }

    .vectorbox-left,
    .vectorbox-right {
      width: 100%;
      padding: 10px 0;
      text-align: center;
    }

    .vectorbox-left img {
      width: 60%;
    }

    .peoplebox {
      flex-direction: column;
      padding: 10px 20px;
    }

    .peoplebox-left,
    .peoplebox-right {
      width: 100%;
      padding: 10px 20px;
      text-align: center;
    }

    .leader-box {
      flex-direction: column;
      width: 100%;
      gap: 8px;
    }

    .leader-box-small {
      width: 100%;
      margin: 1rem 0;
    }

    .join-box {
      flex-direction: column;
      text-align: center;
      padding: 20px;
    }

    .join-box-left,
    .join-box-right {
      width: 100%;
      padding: 20px;
    }

    .circle {
      width: 20%;
      margin-left: -8vh;
    }

    .text-box {
      padding: 1rem;
      margin-top: 1rem;
    }

    .peoplebtn,
    .signup-btn {
      width: 100%;
      text-align: center;
      padding: 15px;
      margin-top: 1rem;
    }

    .regbtn {
      margin-top: 0px;
      width: 100%;
    }

    .us-box-main {
      padding: 20px;
    }

    .praise-small-box {
      h1 {
        font-size: 20px;
      }
    }

    .leader-box-main {
      height: auto;
      padding: 20px;
    }

    .leader-box-small img {
      height: 200px;
    }
  }
}
