.contactus {
  width: 100%;

  .aboutbox {
    display: flex;
    width: 100%;
  }

  .aboutleft {
    width: 50%;
    text-align: left;
    padding: 20px 80px 20px 80px;
    margin: auto;

    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 44px;
      font-weight: 800;
      line-height: 55px;
      color: #0866c6;
      margin-bottom: 2rem;
    }

    h3 {
      font-family: "Fira Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      color: #0866c6;
    }

    .p-para {
      font-family: "Fira Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      color: #798099;
      // margin-bottom: 2rem;
    }

    .p-para-txt{
        font-family: "Fira Sans", sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          color: rgba(50, 98, 149, 1);
          margin-bottom: 2rem;
    }
  }

  .aboutright {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0;
  }

  .regbtn {
    height: 48px;
    padding: 10px 42px 12px 42px;
    gap: 10px;
    border-radius: 4px;
    border: none;
    color: white;
    background: rgba(3, 59, 97, 1);
  }

  .join-box-main {
    width: 100%;
    margin: auto;
    justify-content: end;
    display: flex;
    padding: 100px 0px 100px 0px;

    .circle {
      margin-right: -11vh !important;
    }
  }

  .join-box {
    display: flex;
    background: #0866c6;
    width: 80%;

    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 37.02px !important;
      font-weight: 600 !important;
      line-height: 46px;
      color: #ffffff !important;
      margin: 0;
    }

    p {
      font-family: "Fira Sans";
      font-size: 18px !important;
      font-weight: 300;
      line-height: 32px;
      color: #ffffff !important;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .join-box-left {
    justify-content: center;
    margin: auto;
    padding: 30px;
  }

  .join-box-right {
    width: 50%;
  }

  .circle {
    width: 10%;
    margin-left: -11vh;
    right: 0;
    border-radius: 70%;
    z-index: -1;
    background: #0866c6;
  }

  .signup-btn {
    background: #033b61;
    height: 54px;
    padding: 15px 19.8px 15px 20px;
    border-radius: 11px;
    color: #ffffff;
    border: none;

    span {
      margin-left: 5rem;
    }
  }

  .form-box-main {
    width: 100%;
    padding: 60px;
  }

  .form-box {
    width: 80%;
    border-radius: 36px;
    border: 1px solid #0866c6;
    background: #f8f8ff;
    margin: auto;
    margin-top: 4rem;
    padding: 20px;

    h1 {
      font-family: "Poppins", sans-serif;
      font-size: 48px;
      font-weight: 600;
      line-height: 57.6px;
      letter-spacing: -0.03em;
      text-align: center;
      color: #033b61;
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
  }

  .input-box {
    padding-left: 1rem;
  }

  .input-box::placeholder {
    text-align: left;
    color: #9a9a9a;
    font-weight: 500;
  }

  .msg-btn {
    padding: 20px 28px 20px 28px;
    background: #0866c6;
    border-radius: 99px;
    border: 1px solid #0866c6;
    color: #ffffff;
    font-family: "Fira Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: center;
    width: 92%;
    margin-left: 2rem;
    margin-top: 2rem !important;
    margin: auto;
    margin-bottom: 73px;
  }

  .login-input {
    height: 82px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #0866c6;
    margin-top: 2rem !important;
    margin: auto;
    background: transparent;
  }

  .login-input::placeholder {
    text-align: left;
    color: #9a9a9a;
    font-weight: 500;
  }

  .contact-infooo{
    font-family: "Montserrat";
      font-size: 48px;
      font-weight: 600;
      line-height: 57.6px;
      letter-spacing: -0.03em;
      text-align: center;
      color: rgba(50, 98, 149, 1);
      margin-top: 32px;
      margin-bottom: 32px;
  }

  .contact-box {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    margin: auto;
    margin-top: 2rem;
  }

  .contact-box-small {
    width: 40%;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    border: 1px solid #0866c6;
    border-radius: 20px;
    padding: 20px;

    h1 {
      font-family: "Inter", sans-serif;
      font-size: 28px;
      font-weight: 500;
      line-height: 39.2px;
      letter-spacing: -0.02em;
      text-align: center;
      color: #0866c6;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    p {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 22.4px;
      letter-spacing: -0.02em;
      text-align: center;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .contactus {
    .aboutbox {
      align-items: center;
      flex-direction: column;
    }

    .aboutleft {
      padding: 20px;
    }

    .input-box {
      margin-right: 10px;
    }

    .contact-box {
      flex-direction: column;
      align-items: center;
    }

    .form-box {
      width: 100%;
    }

    .msg-btn {
      width: 25%;
    }
    
        .join-box{
          flex-direction: column;
        }
  }
}

@media only screen and (max-width: 480px) and (min-width: 390px) {
  .contactus{

    .aboutbox{
      flex-direction: column;
    }

    .aboutleft{
      order: 0;
      width: 100%;
      padding: 11px 20px;

      h1{
        height: 40px;
        font-size: 24px;
        margin-bottom: 13px;
      }

      .p-para{
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;
      }

      .p-para-txt{
          font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            margin-bottom: 12px;
      }
    }

    .aboutright{
      order: -1;
      width: 100%;

      img{
        width: 390px;
          height: 291px;
      }
    }

    .regbtn{
          padding: 10px 20px 12px 20px;
          height: 40px;
          font-size: 14px;
    }

    .form-box-main{
      padding: 50px 20px;
    }

    .form-box{
      width: 100%;
      margin: 0;
      padding: 0;
    }

         .contact-infooo{
            font-size: 24px;
            font-weight: 600;
            line-height: 28.8px;
            letter-spacing: -0.03em;
            text-align: center;
         }

         .contact-box{
          justify-content: center;
          flex-direction: column;
          gap: 20px;
         }

         .contact-box-small{
                width: 245px;
                  margin: auto;

                  h1{
                    font-size: 20px;
                    margin: 0;
                  }

                  p{
                    font-size: 14px;
                  }
         }

         .login-input{
          width: 309px !important;
            height: 49px;
            border-radius: 12px;
         }

         .msg-btn{
          width: 227px;
          height: 49px;
          padding: 14px 28px 20px 28px;
            border-radius: 11px;
         }

    .join-box-main {
        width: 100%;
        padding: 0;
        padding-top: 72px;
        padding-bottom: 72px;
        display: block;
      }
    
      .join-box {
        flex-direction: column;
        text-align: center;
        // padding: 20px;
        width: 100%;
    
        h2 {
          font-size: 24px !important;
          height: 30px;
        }
    
        p {
          font-size: 12px !important;
          line-height: 20px;
        }
      }
    
      .join-box-left {
        text-align: left;
        order: 0;
      }
    
      .join-box-right {
        order: -1;
        width: 100%;
        // padding: 20px;
    
        img {
          width: 307px;
          height: 236px;
        }
      }
    
      .circle {
        display: none;
        // width: 20%;
        // margin-left: -8vh;
      }

             .signup-btn {
               // width: 100%;
               text-align: center;
               padding: 15px;
               margin-top: 1rem;
             }
  }
}
 