.search-exp-table {
  // width: 1310px;
  // height: 1102px;
  // border-radius: 10px;
  // border: 2px solid rgba(235, 235, 238, 1);
  // box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  padding: 31px 46px 32px 50px;
  margin-bottom: 50px;

  .name {
    width: 206px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    color: rgba(8, 102, 198, 1);
    padding-bottom: 60px;
  }

  .mobile,
  .rate,
  .shift,
  .clinicShift,
    .medical,
    .actions {
    width: 185px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    color: rgba(8, 102, 198, 1);
    padding-bottom: 60px;
  }

  .location {
    width: 150px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    color: rgba(8, 102, 198, 1);
    padding-bottom: 60px;
  }

  td{
    padding-bottom: 39px;
    font-family: "Fira Sans";
      font-size: 13px;
      font-weight: 500;
      line-height: 15.6px;
      text-align: left;
      color: rgba(50, 98, 149, 1);
  }

  .img-border{
    width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.5px solid rgba(42, 57, 83, 1);
      background: rgba(243, 246, 249, 1);
  }

  .name-data{
    font-family: "Fira Sans";
      font-size: 14px;
      font-weight: 600;
      line-height: 16.8px;
      text-align: left;
      color: rgba(42, 57, 83, 1);
  }

  .name-main{
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .sm-data-name{
    font-family: "Fira Sans";
      font-size: 13px;
      font-weight: 500;
      line-height: 15.6px;
      text-align: left;
      color: rgba(181, 181, 195, 1);
  }

  .list-name{
    font-family: "Montserrat";
      font-size: 32px;
      font-weight: 600;
      line-height: 21px;
      text-align: left;
      color: rgba(8, 102, 198, 1);
      margin-bottom: 19px;
  }

  .list-white{
    font-family: "Fira Sans";
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      text-align: left;
      color: rgba(181, 181, 195, 1);
  }

  .list-head{
    margin-bottom: 72px;
  }

  .list-btn-search{
    cursor: pointer;
    width: 160px;
      height: 48px;
      padding: 16px 25px 16px 25px;
      border-radius: 11px;
      border: none;
      font-family: "Poppins";
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.5px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
      background: rgba(8, 102, 198, 1);
  }
}
 
.explore-search-main-parent-table {
  background: white;
  padding-bottom: 20px;

  .search-box {
    padding: 16px 58px 20px 32px;
    display: flex;
    height: 74px;
    background: rgba(8, 102, 198, 1);
  }

  .quick {
    font-family: "Montserrat";
    font-size: 22.46px;
    font-weight: 700;
    line-height: 32.51px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-right: 37px;
  }

  .drop-search {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .login-input {
    width: 141px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid rgba(206, 212, 218, 1);
    padding: 7px 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .p-dropdown-trigger {
      svg {
        color: black;
      }
    }
  }

  .login-input-Speciality {
    width: 306px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid rgba(206, 212, 218, 1);
    padding: 7px 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .p-dropdown-trigger {
      svg {
        color: black;
      }
    }
  }

  .search-fil {
    font-family: "Montserrat";
    font-size: 14.25px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    width: 85.09px;
    height: 42px;
    padding: 8.5px 16.8px 9.5px 17px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 1);
    color: white;
    cursor: pointer;
  }
}

    .join-box-main-table {
      width: 100%;
      margin: auto;
      justify-content: end;
      display: flex;
      padding: 100px 0px 100px 0px;
  
      .circle {
        margin-right: -11vh !important;
      }
    
  
    .join-box {
      display: flex;
      background: #0866c6;
      width: 80%;
  
      h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 37.02px !important;
        font-weight: 600;
        line-height: 46px;
        color: #ffffff !important;
        margin: 0;
      }
  
      p {
        font-family: "Fira Sans";
        font-size: 18px !important;
        font-weight: 400;
        line-height: 32px;
        color: #ffffff !important;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  
    .join-box-left {
      justify-content: center;
      margin: auto;
      padding: 30px;
    }
  
    .join-box-right {
      width: 50%;
    }
  
    .signup-btn {
      background: #033b61;
      height: 54px;
      padding: 15px 19.8px 15px 20px;
      border-radius: 11px;
      color: #ffffff;
      border: none;
      font-family: "Fira Sans";
      font-size: 16.25px;
      font-weight: 400;
      line-height: 19.5px;
      text-align: left;
  
      span {
        margin-left: 5rem;
      }
    }
  
    .circle {
      width: 10%;
      margin-left: -11vh;
      right: 0;
      border-radius: 70%;
      z-index: -1;
      background: #0866c6;
    }

  }

  @media only screen and (max-width: 468px){  

    .search-exp-table {
      .medical{
        display: none !important;
      }

      .location{
        display: none !important;
      }

      .shift2{
        display: none !important;
      }

      .shift{
        display: none !important;
      }

      .clinicShift{
        display: none !important;
      }

      .medical2{
        display: none !important;
      }
      
      .location2{
        display: none !important;
      }
      
      .clinicShift2{
        display: none !important;
      }

      .list-btn-search{
        display: none;
      }

      .list-name{
        font-size: 20px !important;
      }
    }

    .join-box-main-table{
      justify-content: center !important;
    }

    .join-box-main {
      width: 100%;
      padding: 0;
      padding-top: 72px;
      padding-bottom: 72px;
      display: block;
    }
  
    .join-box {
      flex-direction: column;
      text-align: center;
      // padding: 20px;
      width: 100% !important;
  
      h2 {
        font-size: 24px !important;
        height: 30px;
      }
  
      p {
        font-size: 12px !important;
        line-height: 20px;
      }
    }
  
    .join-box-left {
      text-align: left;
      order: 0;
    }
  
    .join-box-right {
      order: -1;
      width: 100%;
      // padding: 20px;
  
      img {
        width: 307px;
        height: 236px;
        margin-left: 3.5rem;
      }
    }
  
    .circle {
      display: none;
      // width: 20%;
      // margin-left: -8vh;
    }

           .signup-btn {
             // width: 100%;
             text-align: center;
             padding: 15px;
             margin-top: 1rem;
           }


           .search-box{
            display: none !important;
           }
  }