.footer{
    width: 100%;
 
    background-color: #28328C;
    color: white;
    font-family: "Fira Sans";



    .footer1{
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 4px solid #FFFFFF;
      padding: 64px 100px  20px 100px;

      ul{

        padding-left: 0;
        margin-right: 2rem;

        li{
          list-style: none;
          text-align: left;
          font-size: 14.38px;
          font-weight: 300;
          margin: 4px;
          line-height: 30px;
        }
      }

      h1{
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 20.05px;
        margin-bottom: 1rem;
    }

    }
    .footer2{
      width: 100%;
      display: flex; 
      justify-content: space-between;
      padding: 64px 100px  20px 100px;
    }


  .foot1{
    width: 30%;

    p{
        margin-top: 2rem;
        font-size: 12px;
        font-weight: 700;
        
    }

    span{
        margin-left: 2rem;
    }
  }
  
  .foot2{
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

  

    
    p{
        margin-top: 6rem;
        font-size: 12px;
        font-weight: 700;
        
    }

  }
 
  .foot3{
    width: 40%;
    text-align: right;

    h1{
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 20.05px;
    }

    p{
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 20.05px;
        margin-top: 2rem;
    }

    svg{
      margin-top: 1rem;
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
  .footer{
    padding: 50px 50px 20px 50px;
  }
}

@media (max-width: 480px) { 

  .footer{
    flex-direction: column;
    padding: 10px;
  }


  .foot1{
    width: 100% !important;
  }

  .foot2{
    width: 100% !important;
  }

  .foot3{
    width: 100% !important;
  }
}