.footer{
    width: 100%;
 
    background-color: #28328C;
    color: white;
    font-family: "Fira Sans";



    .footer1{
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 4px solid #FFFFFF;
      padding: 64px 100px  20px 100px;

      ul{

        padding-left: 0;
        margin-right: 2rem;

        li{
          list-style: none;
          text-align: left;
          font-size: 14.38px;
          font-weight: 300;
          margin: 4px;
          line-height: 30px;
          cursor: pointer;
        }
      }

      h1{
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 20.05px;
        margin-bottom: 1rem;
        font-family: "Montserrat";
    }

    }
    .footer2{
      width: 100%;
      display: flex; 
      justify-content: space-between;
      padding: 64px 100px  20px 100px;
    }


  .foot1{
    width: 30%;

    p{
        margin-top: 3rem;
        font-size: 16px !important;
        font-weight: 700;
        color: white !important;
        cursor: pointer;
    }

    span{
        margin-left: 2rem;
    }
  }
  
  .foot2{
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

  li{
    text-wrap: nowrap;
  }

    
    p{
        margin-top: 6rem;
        font-size: 12px;
        font-weight: 700;
        
    }

  }

  .foot4{
    width: 20%;
    text-align: left;

    p{
      
      text-align: end;
  }

  }

  .ul-box{
    display: flex;
  }
 
  .foot3{
    width: 30%;
    text-align: right;

    h1{
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 20.05px;
    }

    p{
        margin: 0;
        font-size: 16px ;
        font-weight: 500;
        line-height: 20.05px;
        margin-top: 2rem;
        color: white !important;
        text-align: end;
        text-wrap: nowrap;
    }

    li{
      text-align: right !important;
      margin-right: 0 !important;
      margin-top: 1rem !important;
    }

    ul{
      margin-right: 0 !important;
    }

    svg{
      margin-top: 1rem;
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
  .footer{
    padding: 50px 50px 20px 50px;
  }
}

@media (max-width: 480px) { 

  .footer1{
    flex-direction: column;
    padding: 10px !important;
    overflow: hidden;

    ul{
      display: flex;
      flex-wrap: wrap;

      li{
        line-height: 15px !important;
        margin: 8px !important;
      }
    }
  }
  .footer2{
    flex-direction: column;
    padding: 10px !important;
    overflow: hidden;
  }


  .foot1{
    width: 100% !important;

    svg{
      width: 30vh !important;
    }

    p{
      margin-bottom: 1rem;
      margin-top: 1rem !important;
      font-size: 12px !important;
      font-weight: 400 !important;
      position: absolute;
    }
  }

  .foot2{
    width: 100% !important;
  }

  .foot3{
    width: 100% !important;
    text-align: start !important;
    padding-top: 20px;

    p{
      text-wrap: wrap !important;
      text-align: center !important;
      font-size: 12px !important;
    }

    h1{
      text-align: end !important;
      font-weight: 400 !important;
    }
  }

  .svg-box{
    display: flex;
    justify-content: end !important;
  }

  .ul-box{
    display: inline !important;
  }

  .foot4{
    width: 100% !important;


  }
}