.navbarMain {

    display: flex;
    font-family: "Poppins", sans-serif;
    width: 100%;

    .logo-box{
        width: 75%;
        cursor: pointer;
        
        svg{
            margin: 0;
            width: 20%;
        }
    }

    .ham-svg{
        display: none;
    }

    .list-box{
        display: none !important;
    }

    // .logo{
    //     width: 100px;
    //     height: 60px;
        
    // }

    .list{
       
        display: flex;
        list-style: none;
        align-items: center;
        cursor: pointer;
        margin: auto;
        
        li{
            font-weight: 500;
            font-family: "Poppins", sans-serif;
            margin-left: 2rem;
            font-size: 16px;
            color: #292D32;
            line-height: 20.05px;

            span{
                background: #3551B51F;
                padding: 6px 12px 6px 12px;
                border-radius: 10px;
                display: flex;
                margin-left: -1rem;

                p{
                    color: #033B61;
                    margin-right: 0.5rem;
                    margin-left: 0.5rem;
                }
            }
        }


    }

    .nav-btn-box{
        width: 20%;
        justify-content: center;
        display: flex;

    }

    .nav-btn1{
        border-radius: 11px;
        font-weight: 400;
        font-size: 14px;
        border: 1px solid #033B61;
        padding: 0px 12px 0px 12px ;
        margin: 10px;
        cursor: pointer;
        background: none;
        display: flex;
        height: 34px;

        svg{
            margin: 0;
            margin-right: 0.5rem;
            margin-top: 0.4rem;
        }

        p{
            margin-top: 0.3rem;
            margin-bottom: 0;
        }
    }

    .nav-btn2{
        border-radius: 11px;
        height: 34px;
        font-weight: 400;
        font-size: 14px;
        border: none;
        padding: 6px 20px 6px 20px ;
        margin: 10px;
        cursor: pointer;
        background: #033B61;
        color: white;

        svg{
            margin-right: 4px;
        }
    }

    .hamburger {
        display: none !important;
    }

    .ham{
        display: none !important;
    }

   
}

@media only screen and (max-width: 480px) and (min-width: 390px) {

    .navbarMain {

    .logo-box {
        width: 100%;
        display: flex;

        svg{
            width: 60%;
        }
    }

    .ham-svg{
        display: block !important;
        z-index: 10;
        position: absolute;
        top: 0.8vh;
        right: -70px;
        width: 70%;
    }

    .ham{
        border: none;
        margin-left: 6.4rem;
        background: none;
        display: block !important;
        width: 30%;
    }

    .list-box {
        display: none; 
        width: 100%;
        flex-direction: column;
        background-color:#0866C6;
        color: white;
        position: absolute;
        top: 24px; 
        right: 0;
        z-index: 1000;
       
        
    }

    .list {
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
        height: 50vh;
        padding-top: 6vh;
    }

    .list li {
        margin: 0;
        padding: 10px;
        color: white;
        font-size: 24px !important;
        line-height: 30px;
        font-family: "Montserrat" !important;
        font-weight: 700 !important;

        span{
            font-size: 12px;
        }
    }

    .nav-btn-box {
        display: none !important; 
        width: 65%;
        position: absolute;
        margin-top: 4vh;
        background: white;
        justify-content: space-evenly;
        box-shadow: 0px 1px 1px 0px #0000001F;  
    }

    .nav-btn1{
        padding-left: 68px;
    }

    .hamburger {
        display: block !important;
        cursor: pointer;
    }

    .hamburger-icon {
        font-size: 24px;
    }

    .active  {
        display: flex !important; 
        flex-direction: column;
        margin-top: 3.5vh;
    }


}
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
    .navbarMain{
     
        .list li span{
            display: none;
        }

                .nav-btn-box{
                    width: 32%;
                }


                .logo-box{
                    width: 65% !important;

                    svg{
                        width: 40% !important;
                    }
                }
    }
}