@import url("./homepage/homepage.scss");
@import url("./navbar/navbar.scss");
@import url("./signup/signup.scss");
@import url("./Footer/Footer.scss");
@import url("./Profile/profile.scss");
@import url("./About/about.scss");
@import url("./Contact/contactus.scss");
@import url("./homepage/Flipcard.scss");
@import url("./Profile/Deactivate.scss");
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("./privacy/privacy.scss");
@import url("./explore/explore.scss");
@import url("./search-table/searchTable.scss");

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
  }

  *::-webkit-scrollbar {
    display: none;
}

  .mt{
    margin-top: 2rem;
  }

  .ml{
    margin-left: 2rem;
  }

  .mr{
    margin-right: 2rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
}

.p-invalid {
  border: red !important;
}

.p-inputtext:focus{
  box-shadow: none !important;
  outline: none !important;
}