.deactivate{
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    width: 80vh;
    max-width: 90%;
    text-align: center;
    height: fit-content;
  }
  
  h2 {
    font-size: 31px !important;
    color: #326295 !important;
    margin-bottom: 1.5rem !important;
    font-family: "Montserrat";
    font-weight: 700 !important;

    svg{
        margin-right: 1rem;
    }
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #326295;
    font-weight: 600;
    font-family: "Montserrat";
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

  }
  
  .input-group button {
    background-color: #004A7C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .input-group button:hover {
    background-color: #003B63;
  }
  
  .delete-btn {
    background-color: #0866C6 !important;
    color: white !important;
    border: none;
    padding: 12px 20px;
    font-size: 20px !important;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 10px;
    width: 443px !important;
  }
  
  .delete-btn:hover {
    background-color: #003B63;
  }
  
  p {
    font-size: 14px !important;
    color: #0866C6 !important;
    margin-top: 10px;
    text-align: left;
  }
  
  .close-btn {
    background-color: transparent;
    color: #004A7C;
    border: none;
    cursor: pointer;
    font-size: 20px !important;
    margin-left: 4rem;
  }

  .login-input {
    height: 50px;
    background: #F8F7F7;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    border-radius: 14px;
    border: 1px solid #DCD7D7;
    margin-top: 0.2rem;
    padding-left: 20px;
  }
  
  .input-text-box{
    width: 90%;
}


.p-inputgroup-addon {
    cursor: pointer;
    padding: 10px;
    background: none;
    border: none;
    color: #1868DB;
    font-weight: 500;
}

.otp-box{

    background: #F8F7F7;
    display: flex;
    border-radius: 14px;
    border: 1px solid #DCD7D7;
    width: 100%;
    .login-input { 
        border: none;
        width: 70%;
    }
}
}