.flipcard-slider {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.slider-arrow {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.swiper-container {
    overflow: hidden ;
    height: 60vh;
}

.swiper-slide-active { 
    
  margin-left: 68px;
  }



.swiper-slide {
    flex: 0 0 auto;
}

.tool-small-box {
    perspective: 1000px;
}

.front, .back {
    width: 100%;
    backface-visibility: hidden;
    background: white;
    transition: transform 0.6s;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    box-shadow: 0px 15px 30px 0px #30364D1A;
    border: 3px solid #326295;
    border-radius: 20px;
    padding: 10px;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.tool-small-box:hover .front {
    transform: rotateY(-180deg);
}

.tool-small-box:hover .back {
    transform: rotateY(0deg);
}

.tool-small-box-text{

  span{
    margin-right: 6px;
  }

    p{
        font-family: "Fira Sans";
font-size: 18px !important;
font-weight: 400;
line-height: 64px !important;
text-align: left;
color: #798099;
    }
}

.swiper-button-prev {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    color: #ffffff !important;
    background: #033B61;
    top: 40% !important;

  }

  .swiper-button-disabled {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #ea4232;
    color: #ea4232;
    background: transparent;
  }

  .swiper-button-next {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    color: #ffffff !important;
    background: #033B61;
    top: 40% !important;
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 24px !important;
  }

  .swiper{
    padding: 0px 125px 0px 10px !important;
    width: 100% !important;
  }

  .swiper-pagination {
    display: none;
  }